@font-face {
    font-family: 'JosefinSans';
    src: url('./fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JosefinSans', sans-serif;
}

:root[data-theme="light"] {
    --background-color-body: #f0f0f0;
    --body-color: #000;
    --header-whitesmoke-bg: whitesmoke;
    --header-color-white: white;
    --border-tile: 1px solid rgb(221, 221, 221);
    --bg-tile: rgb(244, 244, 244);
    --bg-tile-hover: rgb(221, 221, 221);

    --button-bg-color: #000000;
    --button-text-color: #FFFFFF;
    --button-hover-bg-color: #333333;
    --button-hover-text-color: #FFFFFF;

    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --box-shadow-hover: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    --scrollbar-track: #f0f0f0;
    --scrollbar-thumb: #000;
    --scrollbar-thumb-hover: #333;
}

:root[data-theme="dark"] {
    --background-color-body: #121212;
    --body-color: #e0e0e0;
    --header-whitesmoke-bg: #1e1e1e;
    --header-color-white: #e0e0e0;
    --border-tile: 1px solid #333;
    --bg-tile: #1e1e1e;
    --bg-tile-hover: #333;

    --button-bg-color: #FFFFFF;
    --button-text-color: #000000;
    --button-hover-bg-color: #E0E0E0;
    --button-hover-text-color: #000000;

    --box-shadow-hover: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    --scrollbar-track: #1e1e1e;
    --scrollbar-thumb: #e0e0e0;
    --scrollbar-thumb-hover: #ccc;
}

body {
    background-color: var(--background-color-body);
    color: var(--body-color);
}

/*scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}

.err500{
    width: 200px;
    
}

.errDiv{
    align-items: center;
    flex-direction: column-reverse;
    display: flex;
    color: red;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-whitesmoke-bg);
    color: var(--header-color-white);
    padding: 1rem;
    font-size: 2em;
    margin: 0 2rem 2rem 2rem;
    border-radius: 0px 0px 6px 6px;
}

header .logoWrapper a img {
    width: 10rem;
}

h1{
    font-size: 2.5rem;
}

.page #homeTiles .tile {
    border: var(--border-tile);
    padding: 15rem 0 2rem 2em;
    background-color: var(--bg-tile);
    transition: transform 0.3s ease, background 0.3s ease;
    box-shadow: var(--box-shadow);
}

.page #homeTiles .tile:hover {
    background-color: var(--bg-tile-hover);
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: var(--box-shadow-hover);
}

.page #homeTiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, 400px);
    gap: 1rem;
    margin: 2rem;
    padding: 1rem;
}

#themeToggle {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#themeToggle:hover {
    background-color: var(--button-hover-bg-color);
    color: var(--button-hover-text-color);
}




/*config dlaždic - vyuzivam classy ktery jsem si pridal behem iterace syntaxe "tile-<name z DB>"*/

.tile{
    background-repeat: no-repeat;
    background-size: 120px 120px;
    background-position: top 1.5rem right 1.5rem;
    /*padding: 2rem 1rem 1rem 1rem;*/
}
.tile p{
    font-weight: 600;
    font-size: 3rem;
    margin: 1.5rem 0 0 0;
    color: rgb(27, 187, 189);
}
.tile-id{
    display: none;   /*jen pro debug v devtools*/
}
.tile-datum{
    background-image: url('/img/tileIcons/date.svg');
}
.tile-cas{
    background-image: url('/img/tileIcons/time.svg');
}
.tile-intenzitaS{
    background-image: url('/img/tileIcons/sun.svg');
}
.tile-vstupVI{
    background-image: url('/img/tileIcons/input.svg');
}
.tile-bocniVI{
    background-image: url('/img/tileIcons/lightning.svg');
}
.tile-zatezVI{
    background-image: url('/img/tileIcons/lightning.svg');
}
.tile-proudI{
    background-image: url('/img/tileIcons/proud_battery.svg');
}
.tile-vstupV1{
    background-image: url('/img/tileIcons/lightning.svg');
}
.tile-bocniV1{
    background-image: url('/img/tileIcons/lightning.svg');
}
.tile-zatezV1{
    background-image: url('/img/tileIcons/lightning.svg');
}
.tile-proud1{
    background-image: url('/img/tileIcons/proud_battery.svg');
}
.tile-vstupV2{
    background-image: url('/img/tileIcons/lightning.svg');
}
.tile-bocniV2{
    background-image: url('/img/tileIcons/lightning.svg');
}
.tile-zatezV2{
    background-image: url('/img/tileIcons/lightning.svg');
}
.tile-proud2{
    background-image: url('/img/tileIcons/proud_battery.svg');
}
.tile-vstupV3{
    background-image: url('/img/tileIcons/lightning.svg');
}
.tile-bocniV3{
    background-image: url('/img/tileIcons/lightning.svg');
}
.tile-zatezV3{
    background-image: url('/img/tileIcons/lightning.svg');
}
.tile-proud3{
    background-image: url('/img/tileIcons/proud_battery.svg');
}

/*menicko v headeru*/
.menuDesktop{
    display: flex;
    gap: 1rem;
}
.menuDesktop img{
    height: 2rem;
    cursor: pointer;
}

/*menicko mobilni*/

#menuMobile{
    display: none;
    justify-content: space-around;
    width: 100%;
    bottom: 0;
    position: fixed;
    z-index: 2;
    background-color: var(--header-whitesmoke-bg);
    padding: 1rem;
    box-shadow: var(--box-shadow);

}
#menuMobile a img{
    height: 2rem;
}

@media screen and (max-width: 768px) {
    #menuMobile {
        display: flex;
    }
    .menuDesktop{
        display: none;
    }
}